<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% block stylesheets %}
            {% stylesheets
                'front/less/main.less'
                filter='less,?yui_css'
            %}

                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>

        <!-- Navbar -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <a href="" class="brand">Title</a>

                    <!-- Add subscription -->
                    <ul class="nav">
                        <li id="refresh_stream">
                            <a href="" class="area_dropdown">
                                <i class="icon icon-refresh"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a id="add_subscription" class="dropdown-toggle area_dropdown" role="button" data-toggle="dropdown" href="#">
                                <i class="icon icon-edit"></i>
                            </a>
                            <ul id="dropdown_add_subscription" class="dropdown-menu pull-left" role="menu" aria-labelledby="add_subscription">
                                <li>
                                    <form id="form_dropdown_add_subscription">
                                        <input type="text" placeholder="{{ 'add_subscription' | trans }}"/>
                                        <button id="submit_form_dropdown_add_subscription" class="btn btn-success"><i class="icon icon-plus"></i>{{ 'add' | trans }}</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Manager account -->
                    <div id="disconnect_user">
                        <a id="disconnect_toggle" href="#">
                            <i class="icon icon-off"></i>
                        </a>
                        <a href="{{ path('logout') }}" id="disconnect" class="btn btn-primary">{{ 'logout' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="main_container" class="clearfix">
            <div id="container">
                {% block container %}{% endblock %}
            </div>
            <div id="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>

        {% include "SweepoCoreBundle:Includes:core_data.html.twig" %}

        {% block javascript %}

            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            {% javascripts
                'components/jquery/jquery.js'
                'components/underscore/underscore.js'
                'components/backbone/backbone.js'
                'components/bootstrap/js/bootstrap-dropdown.js'
                'components/bootstrap/js/bootstrap-tooltip.js'
                'front/js/CoreBundle/layout.js'
                filter='yui_js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </body>
</html>
