{% extends 'SweepoSiteBundle:Layouts:layout.html.twig' %}

{% block container %}
    <div id="container_introduction">
        <h1>Ne ratez plus jamais ce qui se dit</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
    </div>
    <div id="form_create">
        <div id="background_form_create"></div>
        <img src="{{ profile_picture }}" heigth="57px" width="57px" class="img-rounded"/>
        <h2>{{ name }}</h2>
        <form action="" method="post" {{ form_enctype(form) }} class="clearfix">
            <p>
                {{ form_widget(form) }}
            </p>
            <p>
                <a href="{{ path('stream') }}">{{ 'cancel' | trans | title }}</a>&nbsp;
                <button class="btn btn-primary"><i class="icon icon-pencil icon-margin"></i> {{ 'account_edit' | trans }}</button>
            </p>
        </form>
        <div id="delete_area">
            <a href="{{ path('user_delete') }}" class="btn btn-danger warning" id="delete_account" data-confirm="{{ 'account_confirm' | trans }}"><i class="icon icon-ban-circle icon-margin"></i>  {{ 'account_delete' | trans }}</a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
        'front/js/UserBundle/edit.js'
        filter='yui_js'
    %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'front/less/UserBundle/edit.less'
        filter='less,?yui_css'
    %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}