{% extends 'SweepoCoreBundle:Layouts:layout.html.twig' %}

{% block container %}

    <div id="tweets_container">
        <div id="loading_tweets" class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <ul id="tweets"></ul>
    </div>

{% endblock %}

{% block sidebar %}
    <div id="user">
        <img src="{{ user.profileImageUrl }}" width="57px" height="57px" class="img-rounded"/>
        <p class="title">{{ user.name }}</p>
        <p class="screen_name">@{{ user.screenName }}</p>
    </div>
    <div id="subscriptions">
        <div id="title_subscriptions" class="h2">{{ 'subscriptions' | trans }}</div>
        <form>
            <input id="input_subscription" type="text" placeholder="{{ 'add_subscription' | trans }}" style="{% if user.local == 'fr' %}width:184px;{% else %}width:204px{% endif %}" />
            <button id="submit_subscription" class="btn btn-success"><i class="icon icon-plus icon-margin"></i>{{ 'add' | trans }}</button>
        </form>
        <div id="info_subscription" class="alert alert-info"><i class="icon icon-info-sign icon-margin"></i><span></span> {{ 'added' | trans }}</div>
        <div id="error_subscription" class="alert alert-danger"><i class="icon icon-warning-sign icon-margin"></i>{{ 'error' | trans }}</div>
        <ul id="list_subscriptions">
            <li id="spin_list_subscriptions"><i class="icon icon-spin icon-spinner"></i></li>
        </ul>
        <div id="no_subscriptions" class="alert alert-info"><i class="icon icon-info-sign icon-margin"></i>{{ 'no_subscriptions' | trans }}</div>
    </div>

    {% include "SweepoStreamBundle:TemplatesJS:subscriptions.html.twig" %}
    {% include "SweepoStreamBundle:TemplatesJS:tweets.html.twig" %}
    {% include "SweepoStreamBundle:TemplatesJS:no_tweets.html.twig" %}
    {% include "SweepoStreamBundle:TemplatesJS:tweets_loading.html.twig" %}

{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
        'front/js/StreamBundle/subscription.js'
        'front/js/StreamBundle/stream.js'
        filter='yui_js'
    %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'front/less/StreamBundle/stream.less'
        filter='less,?yui_css'
    %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}