{% extends 'SweepoCoreBundle:Layouts:layout.html.twig' %}

{% block container %}
    <div class="container_day">
        <div class="heading">
            Today
        </div>
        <ul class="tweets">
            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        <a href="">Rémy Gazelot</a>
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj <a href="" class="hightlight" data-scroll="abc">abc</a> bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>
        </ul>
    </div>

    <div class="container_day">
        <div class="heading"></div>
        <ul class="tweets">
            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>
        </ul>
    </div>

    <div class="container_day">
        <div class="heading"></div>
        <ul class="tweets">
            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>

            <li class="tweet">
                <div class="tweet_container">
                    <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded tweet_img"/>
                    <p class="tweet_name_author">
                        Rémy Gazelot
                        <span class="tweet_screen_name">@remygazelot</span>
                    </p>
                    <p class="tweet_content">
                        blabla abledfisdf dsfisdbqfj qsdfiubqdsf bqdsiufqsdifhqdus fqisdfv iqsdhfo iqdsbf qsdiof dosiqf oisdqbf lkqdsfbiofd fsdfsdf gfdsgsdfggsfdg s
                    </p>
                    <p class="tweet_open"><a href="">open on Twitter</a></p>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}

{% block sidebar %}
    <div id="user">
        <img src="{{ asset('images/portrait.png') }}" width="57px" height="57px" class="img-rounded"/>
        <p class="title">{{ user.name }}</p>
        <p class="screen_name">@remygazelot</p>
    </div>
    <div id="subscriptions">
        <div id="title_subscriptions" class="h2">Subscriptions</div>
        <form>
            <input id="input_subscription" type="text" placeholder="find ..."/>
            <input id="submit_subscription" type="submit" class="btn btn-success">
        </form>
        <ul id="list_subscriptions">
        </ul>
    </div>

    {% include "SweepoStreamBundle:TemplatesJS:subscriptions.html.twig" %}

{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
        'front/js/StreamBundle/subscription.js'
        filter='yui_js'
    %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'front/less/StreamBundle/stream.less'
        filter='less,?yui_css'
    %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}